@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --bg-gradient-purple: "linear-gradient(to bottom, #3a1c71, #110b2e)";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  background-position: left center;
  animation: gradient-x 3s ease infinite;
}
